.show-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}

.show-counter .countdown {
  padding: 0 0.75rem 0 0.75rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.show-counter .countdown > p {
  margin: 0;
}